<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevTech</title>
</head>
<body>
        <div class="container">

            <div class="divLogin" id="createUser">
                    <img src="image.png" class="logoLogin">

                    <form action="/api/register" method="post">

                        <input type="text" placeholder="Email" class="texts" id="inputEmail" name="email" required>
                        <input type="password" placeholder="Senha" class="texts" id="inputSenha" name="senha" required>
                        <input type="password" placeholder="Confirmar Senha" class="texts" id="inputConfirmarSenha" name="confirmSenha" required>
                        <button class="btn"  id="buttonCreateUser" type="submit" onclick="redirectToRoute()">Criar Usuário</button>
                        <a href="/api/user-exist" id="linkEnter"> Já possui uma conta? Entrar </a>
                    
                    </form>

            </div>

        <ul>
            <li><a href=""> Sobre </a></li>
            <li><a href=""> Projetos </a></li>
            <li><a href=""> Serviços </a></li>
            <li><a href=""> Home </a></li>
        </ul>
        <img src="image.png" class="picture">

        <div class="warning" id="warningInfo">
            <h4> Preencha todos os campos! </h4>
            <p id="exitWarning">X</p>
        </div>

    </div>

    <script src="scripts.js"></script>

</body>
</html>