<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <title>DevTech</title>
</head>
<body>
        <div class="container">

            <div class="divLogin" id="createUser">
                    <img src="image.png" class="logoLogin">

                    <form action="/api/register" method="post">

                        <input type="text" placeholder="Email" class="texts" id="inputEmail" name="email" required>
                        <input type="password" placeholder="Senha" class="texts" id="inputSenha" name="senha" required>
                        <input type="password" placeholder="Confirmar Senha" class="texts" id="inputConfirmarSenha" name="confirmSenha" required>
                        <button class="btn"  id="buttonCreateUser" onclick="redirectToRoute()">Criar Usuário</button>
                        <a href="#" id="linkEnter" onclick="entrarNaConta()"> Já possui uma conta? Entrar </a>
                    
                    </form>

            </div>

        <div class="divLogin" id="loginUser">
            <img src="image.png" class="logoLogin">

                <input type="text" placeholder="Email" class="texts" id="emailUserOfSystem" name="senha" required>
                <input type="password" placeholder="Senha" class="texts" id="passwordUserOfSystem" name="confirmSenha" required>

                <button class="btn"  id="buttonLoginUser" onclick="redirectToSameRoute()"> Entrar </button>

                <a href="#" id="linkCreateUser" onclick="criarUmUsuario()"> Não possui cadastro? Criar usuário </a>
                <a href="#" id="linkEnter"> Precisa de ajuda? Consulte nosso suporte </a>

        </div>

        <ul>
            <li><a href=""> Sobre</a></li>
            <li><a href=""> Projetos </a></li>
            <li><a href=""> Serviços </a></li>
            <li><a href=""> Home </a></li>
        </ul>
        <img src="image.png" class="picture">

        <div class="warning" id="warningInfo">
            <h4> Preencha todos os campos! </h4>
        </div>

    </div>

    <!-- <div>
        <img class="gif-success" src="https://media2.giphy.com/media/MpLQ8hY8UecBrR2cQo/giphy.gif?cid=ecf05e47oknx6sge8g7pupq6wtfg6j4fcfqzarm9l0uzkghm&rid=giphy.gif&ct=s" alt="">
    </div> -->

    <script src="scripts.js"></script>

</body>
</html>