<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevTech</title>
</head>
<body>
    <div class="containerLogin">

        <div class="msgLogin">
            <img class="gif-success" src="https://media2.giphy.com/media/MpLQ8hY8UecBrR2cQo/giphy.gif?cid=ecf05e47oknx6sge8g7pupq6wtfg6j4fcfqzarm9l0uzkghm&rid=giphy.gif&ct=s" alt="">
            <h3>Usuário criado com sucesso</h3>
            <p>Seja Bem-Vindo a melhor compania de tecnologia do Brasil <br> Venha se tornar um profissional da área com a gente!</p>
        </div>

    </div>

    <script src="scripts.js"></script>

</body>
</html>