<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/image.png" type="image/x-icon">
    <title>DevTech</title>
</head>

<body>
    <div class="container">

        <section class="portal-user">

            <img src="https://c.tenor.com/LwULtPSWGTwAAAAi/trophy-joypixels.gif" alt="gif de um trofel"
                class="trophyGif">

            <div class="wellComeContainer">

                <h2> Seja Bem-Vindo(a) ao portal do(a) usuário(a) </h2>
                <p> Aqui te preparamos para o mercado de trabalho mais promissor dos próximos anos! <br>
                    Fique por dentro das tendências do mundo da tecnologia! <br>
                    Faça você o seu proprio caminho! <br><br><br>

                    Aqui na DevTech acreditamos que tudo é possível
                </p>

            </div>

            <button class="learnMoreAbout"> Explorar </button>
        </section>

    </div>

    <script src="scripts.js"></script>

</body>

</html>