@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Fredoka;
    color: white;
}

:root {
    --bg-default: linear-gradient(to right, rgb(53, 4, 99), rgb(113, 7, 211));
}

.container {
    width: 100%;
    height: 90vh;
    background: var(--bg-default);
    box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, .4)
}

/* Index Navigation */

.container nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;

    height: 5rem;
}

.container nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;

    gap: 5rem;

    font-size: 17px;
}

.container nav ul li a {
    text-decoration: none;
}

.container nav li a::after {
    content: '';

    width: 0%;
    height: 2px;

    background-color: white;

    position: relative;
    bottom: -1rem;

    display: block;

    transition: width .2s;
}

.container nav li a:hover::after{
    width: 100%;
    padding-inline: -0.8rem;
}

/* Section login */

.login-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    align-items: center;

    gap: 1rem;

    margin-top: 5rem;
}

.picture {
    width: 500px;
}

.divLogin {
    width: 420px;
    height: 550px;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    animation: animando-campo-usuario .5s;
}

.texts {
    text-align: center;

    width: 350px;
    height: 40px;

    display: block;

    margin: 30px;
    margin-top: 50px;

    border: none;
    outline: none;
    color: black;
}

.btn {
    width: 350px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
    outline: none;
    border: none;
    background-color: rgb(68, 7, 124);
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

#linkEnter {
    position: absolute;
    margin: 80px;
    margin-left: -350px;
    color: gray;
}

#linkCreateUser {
    position: absolute;
    margin: 120px;
    margin-left: -350px;
    color: gray;
}

#loginUser {
    display: block;
}

.btn:hover {
    background-color: rgb(103, 10, 189);
}

::placeholder {
    text-align: center;
}

.logoLogin {
    margin: 20px;
    margin-left: calc(50% - 50px);

    width: 100px;
}

.warning {
    display: none;

    text-align: center;

    margin-right: 18%;
    margin-top: 3rem;

    height: 50px;
    width: 300px;

    background-color: rgb(216, 94, 94);

    float: right;

    border-radius: 5px;
    animation: warning-animation .5s;
}

@keyframes warning-animation {

    0% {
        opacity: 0;
        transform: translate3d(100px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}

.warning p {
    position: absolute;

    margin-left: 17rem;
    margin-top: .3rem;
    
    cursor: pointer;
    font-size: 20px;
}

/* Index */

.gif-success {
    width: 200px;
}

h4 {
    position: absolute;
    margin-top: 12px;
    margin-left: 50px;
}

@keyframes animando-campo-usuario {

    0% {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}

.containerLogin {
    width: 100%;
    height: 850px;
    background: linear-gradient(to right, rgb(53, 4, 99), rgb(113, 7, 211));
    box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, .4);
}

.gif-success {
    width: 300px;
}

.msgLogin {
    text-align: center;
    position: absolute;
    margin-top: 200px;
    margin-left: 360px;
}

h3 {
    text-align: center;
}

p {
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
}

.wellComeContainer {
    position: absolute;
    text-align: center;
    margin-left: 700px;
    margin-top: 450px;
    line-height: 30px;
}

.trophyGif {
    position: absolute;
    width: 250px;
    margin-left: 880px;
    margin-top: 100px;
}

.learnMoreAbout {
    font-size: 17px;
    color: black;
    margin-top: 750px;
    margin-left: 895px;
    border: none;
    background-color: aliceblue;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
}